<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/default}" lang="en">
<head>
  <title>Event Details</title>
</head>
<body>
  <div layout:fragment="content">
    <h1>Event details</h1>
    <p class="fas fa-bolt" th:text="' Event name: ' + ${event.name}"></p>
    <br>
    <p class="fas fa-calendar" th:text="' Event date: ' + (${event.date} ?: 'No date given.')"></p>
    <br>
    <p class="fas fa-clock" th:text="' Event time: ' + (${event.time} ?: 'No time given.')"></p>
    <br>
    <a class="fas fa-map-marked-alt" th:text="' Venue: ' + ${event.venue.name}" th:href="@{/venues/{id}(id=${event.venue.id})}"></a>
    <br>
    <p class="fas fa-map-marked-alt" th:text="' Description: ' + (${event.description} ?: 'No description given.')"></p>
    <br>

    <p>
      <a class="btn btn-primary" role="button" th:href="@{/events}"><i class="fas fa-arrow-left" aria-hidden="true"></i> Events list</a>
    </p>
    
    <!-- <td>
      <form th:action="@{/events/{id}(id=${event.id})}" th:method="delete" sec:authorize="isAuthenticated()">
         <button type="submit" class="btn btn-danger"><i class="fas fa-trash" aria-hidden="true"></i> Delete</button>
      </form>
    </td> -->

    <td>
      <form th:action="@{/events/{id}(id=${event.id})}" th:method="delete" sec:authorize="isAuthenticated()">
         <button type="submit" class="btn btn-danger"><i class="fas fa-trash" aria-hidden="true"></i> Delete All Fields</button>
      </form>
    </td>
    
  <div id="indicator" style="margin-top:20px;"></div>
  <div id="map" style="position: absolute; top: 0px; width: 100%; height: 600px;  border-radius: 20px; "></div>
  <div id="placeholder" style="height:200px;"></div>
  
<script th:inline="javascript">
var currentEvent = [[${event}]];

mapboxgl.accessToken = 'pk.eyJ1IjoiZGludWQxMSIsImEiOiJjbDE1Nzdib3QwaDJ6M2pzZ2p4bGdhZWo2In0.pNx1qRgo7vsmuoVt0R5-nQ';
const map = new mapboxgl.Map({
container: 'map',
style: 'mapbox://styles/mapbox/streets-v11',
center: [currentEvent.venue.longitude, currentEvent.venue.latitude],
zoom: 13
});


	 const marker1 = new mapboxgl.Marker()
 	.setLngLat([currentEvent.venue.longitude, currentEvent.venue.latitude])
 	.setPopup(
			new mapboxgl.Popup({ offset: 25 }) // add popups
			.setHTML(
`		<h3>${currentEvent.name}</h3><p>Starts at: ${currentEvent.time}</p>`
		)
		)
 	.addTo(map);


var width = document.body.offsetWidth - getElementOffset(document.getElementById("map")).left*2; 
document.getElementById("map").style.width = width+"px";
document.getElementById("map").style.top = getElementOffset(document.getElementById("indicator")).top + "px";
document.getElementById("placeholder").style.height = getElementOffset(document.getElementById("map")).top + 20 + "px";

window.addEventListener('resize', function(event) {
	 document.getElementById("map").style.top = getElementOffset(document.getElementById("indicator")).top + "px";
	 var width = document.body.offsetWidth - getElementOffset(document.getElementById("map")).left*2; 
	 document.getElementById("map").style.width = width+"px";
	 document.getElementById("placeholder").style.height = getElementOffset(document.getElementById("map")).top + 20 + "px";
}, true);

//Fetch an element's left and top according to the 0,0
function getElementOffset(element) {
  let offset = {left: 0, top: 0}
  let current = element.offsetParent

  offset.left += element.offsetLeft
  offset.top += element.offsetTop

  while (current !== null) {
    offset.left += current.offsetLeft
    offset.top += current.offsetTop
    current = current.offsetParent
  }
  return offset
}

</script>

  </div>
</body>
</html>
