<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}" lang="en">
<head>
  <title>Event Details</title>
</head>
<body>
  <div layout:fragment="content">
    <h1>Event details</h1>
    <p class="fas fa-bolt" th:text="'Event name: ' + ${event.name}"></p>
    <br>
    <p class="fas fa-map-marked-alt" th:text="'Venue: ' + ${event.venue.name}"></p>
    <br>
    <p class="fas fa-calendar" th:text="'Event date: ' + (${event.date} ?: 'No date given.')"></p>
    <br>
    <p class="fas fa-clock" th:text="'Event time: ' + (${event.time} ?: 'No time given.')"></p>
    <br>

    <p>
      <a class="btn btn-primary" role="button" th:href="@{/events}"><i class="fas fa-arrow-left" aria-hidden="true"></i> Events list</a>
    </p>
    
    <td>
      <form th:action="@{/events/{id}(id=${event.id})}" th:method="delete">
         <button type="submit" class="btn btn-danger"><i class="fas fa-trash" aria-hidden="true"></i> Delete</button>
      </form>
    </td>

    <td>
      <form th:action="@{/events/{id}(id=${event.id})}" th:method="delete">
         <button type="submit" class="btn btn-danger"><i class="fas fa-trash" aria-hidden="true"></i> Delete All Fields</button>
      </form>
    </td>

  </div>

</body>
</html>
