<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/default}">
<head>
  <title>All events</title>
</head>
<body>
<div layout:fragment="content"  id="main">
  <h1>All Events</h1>

  <form action="/events/search" method="get">
    <div class="input-group pb-4">
      <div class="form-outline">
        <input type="search" id="name" name="name" th:value="${name}" size="50%" class="form-control"
               placeholder="Search event by name..."/>
      </div>
      <button type="submit" class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i></button>
    </div>
  </form>

  <!-- <td>
    <form th:action="@{/events}" th:method="delete">
      <button type="submit" class="btn btn-danger" sec:authorize="isAuthenticated()"><i class="fas fa-trash" aria-hidden="true"></i> Delete All Events
      </button>
    </form>
  </td> -->

  <p>
    <a class="btn btn-primary" role="button" href="/venues" sec:authorize="isAuthenticated()"><i class="fas fa-list"
                                                                                                 aria-hidden="true"></i>
      Go To Venues List</a>
  </p>


  <h2>Upcoming Events</h2>
  <table class="table table-striped table-hover">
    <thead>
    <tr>
      <th><i class="fas fa-bolt"></i> Event</th>
      <th><i class="fas fa-map-marker-alt"></i> Venue</th>
      <th><i class="fas fa-calendar"></i> Date</th>
      <th><i class="fas fa-clock"></i> Time</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="e : ${eventFuture}">
      <td>
        <a th:href="@{/events/{id}(id=${e.id})}" th:text="${e.name}"></a>
      </td>
      <td><a th:href="@{/venues/{id}(id=${e.venue.id})}" th:text="${e.venue.name}"></a></td>
      <td th:text="${e.date}">Event date</td>
      <td th:text="${e.time ?: '-'}">Event time</td>

      <!--           <div sec:authorize="hasRole('ORGANISER')">-->
      <td>
        <a class="btn btn-primary" role="button" th:method="get" sec:authorize="isAuthenticated()"
           th:href="@{/events/update/{num}(num=${e.id})}">Update</a>
      </td>
      <!--           </div>-->

    </tr>

    </tbody>
  </table>


  <h2>Past Events</h2>
  <table class="table table-striped table-hover">
    <thead>
    <tr>
      <th><i class="fas fa-bolt"></i> Event</th>
      <th><i class="fas fa-map-marker-alt"></i> Venue</th>
      <th><i class="fas fa-calendar"></i> Date</th>
      <th><i class="fas fa-clock"></i> Time</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="e : ${eventPast}">
      <td>
        <a th:href="@{/events/{id}(id=${e.id})}" th:text="${e.name}"></a>
      </td>
      <td><a th:href="@{/venues/{id}(id=${e.venue.id})}" th:text="${e.venue.name}"></a></td>
      <td th:text="${{e.date}}">Event date</td>
      <td th:text="${{e.time}}">Event time</td>

      <!-- <div sec:authorize="hasRole('ORGANISER')"> -->
      <td>
        <a class="btn btn-primary" role="button" th:method="get" sec:authorize="isAuthenticated()"
           th:href="@{/events/update/{num}(num=${e.id})}">Update</a>
      </td>
      <!-- </div> -->

    </tr>

    </tbody>
  </table>
  

  <p>
    <a class="btn btn-primary" role="button" href="/events/new" sec:authorize="isAuthenticated()">
    <i class="fas fa-plus" aria-hidden="true"></i> Add a new event</a>
  </p>
  
  <div id="indicator"></div>
  <div id="map" style="position: absolute; top: 0px; width: 100%; height: 600px;  border-radius: 20px; "></div>
  <div id="placeholder" style="height:200px;"></div>
  
 <script th:inline="javascript">
 mapboxgl.accessToken = 'pk.eyJ1IjoiZGludWQxMSIsImEiOiJjbDE1Nzdib3QwaDJ6M2pzZ2p4bGdhZWo2In0.pNx1qRgo7vsmuoVt0R5-nQ';
 const map = new mapboxgl.Map({
 container: 'map',
 style: 'mapbox://styles/mapbox/streets-v11',
 center: [-2.230912, 53.465211],
 zoom: 8
 });
 var futureEvents = [[${eventFuture}]];
for (var event of futureEvents){
	 const marker1 = new mapboxgl.Marker()
 	.setLngLat([event.venue.longitude, event.venue.latitude])
 	.addTo(map);
 	console.log(event.venue.longitude);
}
 // Create a default Marker and add it to the map.
 const marker1 = new mapboxgl.Marker()
 .setLngLat([12.554729, 55.70651])
 .addTo(map);

 var width = document.body.offsetWidth - getElementOffset(document.getElementById("map")).left*2; 
 document.getElementById("map").style.width = width+"px";
 document.getElementById("map").style.top = getElementOffset(document.getElementById("indicator")).top + "px";
 document.getElementById("placeholder").style.height = getElementOffset(document.getElementById("map")).top + 20 + "px";
 
 window.addEventListener('resize', function(event) {
	 document.getElementById("map").style.top = getElementOffset(document.getElementById("indicator")).top + "px";
	 var width = document.body.offsetWidth - getElementOffset(document.getElementById("map")).left*2; 
	 document.getElementById("map").style.width = width+"px";
	 document.getElementById("placeholder").style.height = getElementOffset(document.getElementById("map")).top + 20 + "px";
 }, true);
 
// Fetch an element's left and top according to the 0,0
 function getElementOffset(element) {
   let offset = {left: 0, top: 0}
   let current = element.offsetParent

   offset.left += element.offsetLeft
   offset.top += element.offsetTop

   while (current !== null) {
     offset.left += current.offsetLeft
     offset.top += current.offsetTop
     current = current.offsetParent
   }
   return offset
 }
     

</script>
</div>
 
</body>




</html>
