<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/default}" lang="en">
<head>
  <title>Venue Details</title>
</head>
<body>
  <div layout:fragment="content">
    <h1>Venue Details at glance</h1>
    <p class="fas fa-bolt" th:text="' Venue Name: ' + ${venue.name}"></p>
    <br>
    <p class="fas fa-map-marked-alt" th:text="' Venue Coordinates: Latitude: ' + ${venue.latitude} + ', Longitude: ' + ${venue.longitude}"></p>
    <br>
    <p class="fas fa-map-marked-alt" th:text="' Venue Road Name: ' + ${venue.roadName}"></p>
    <br>
    <p class="fas fa-bolt" th:text="' Venue Postcode: ' + (${venue.postcode})"></p>
    <br>
    <p class="fas fa-bolt" th:text="' Venue Capacity: ' + (${venue.capacity})"></p>
    <br>

    <p>
      <a class="btn btn-primary" role="button" th:href="@{/venues}"><i class="fas fa-arrow-left" aria-hidden="true"></i> Venues list</a>
    </p>
    
    <!-- <td>
      <form th:action="@{/venues/{id}(id=${venue.id})}" th:method="delete" sec:authorize="isAuthenticated()">
         <button type="submit" class="btn btn-danger"><i class="fas fa-trash" aria-hidden="true"></i> Delete</button>
      </form>
    </td> -->

    <td>
      <form th:action="@{/venues/{id}(id=${venue.id})}" th:method="delete" sec:authorize="isAuthenticated()">
         <button type="submit" class="btn btn-danger"><i class="fas fa-trash" aria-hidden="true"></i> Delete All Fields</button>
      </form>
    </td>
    
  <h2>Upcoming Events</h2>
  <table class="table table-striped table-hover">
    <thead>
    <tr>
      <th><i class="fas fa-bolt"></i> Event</th>
      <th><i class="fas fa-map-marker-alt"></i> Venue</th>
      <th><i class="fas fa-calendar"></i> Date</th>
      <th><i class="fas fa-clock"></i> Time</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="e : ${eventFuture}">
      <td>
        <a th:href="@{/events/{id}(id=${e.id})}" th:text="${e.name}"></a>
      </td>
      <td><a th:href="@{/venues/{id}(id=${e.venue.id})}" th:text="${e.venue.name}"></a></td>
      <td th:text="${e.date}">Event date</td>
      <td th:text="${e.time ?: '-'}">Event time</td>

      <!--           <div sec:authorize="hasRole('ORGANISER')">-->
      <td>
        <a class="btn btn-primary" role="button" th:method="get" sec:authorize="isAuthenticated()"
           th:href="@{/events/update/{num}(num=${e.id})}">Update</a>
      </td>
      <!--           </div>-->

    </tr>

    </tbody>
  </table>

  </div>

</body>
</html>
